<p id="notice"><%= notice %></p>
<div class="container mt-5">
  <div class="row">
      <div class="col-sm-12">
<div class="card">
  <div class="card-body">
    <%= form_for(@category) do |f| %>
    <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control', readonly: true %>
    </div>
    <div class="form-check">
      <%= f.check_box :favorite, class: 'form-check-input', readonly: true %>
      <%= f.label :favorite, class: 'form-check-label' %>
    </div>
    <div class="actions text-right">
      <%= link_to 'Voltar', categories_path, class: 'btn btn-secondary p-2' %>
      <%= f.submit value: 'Salvar',class: 'btn btn-primary p-2' %>
    </div>
    <% end %>
  </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @category.favorite %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
