<p id="notice"><%= notice %></p>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Vídeo</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <%= form_for(@category) do |f| %>
          <div class="form-group">
            <%= f.label :id %><br>
            <%= f.text_field :id, class: 'form-control', readonly: true %>
          </div>
          <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'form-control', readonly: true %>
          </div>
          <div class="form-group">
            <%= f.label :favorite %><br>
            <%= f.text_field :name, class: 'form-control', readonly: true, value: @category.favorite ? "Sim" : "Não" %>
          </div>
          <div class="actions text-right">
            <%= link_to 'Editar', edit_category_path(@category), class: 'btn btn-warning p-2' %>
            <%= link_to 'Voltar', categories_path ,class: 'btn btn-secondary p-2' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @video.url %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
